* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}
.box{
  border:3px solid black;
}
.yellow {
    grid-column: 1;
    grid-row: 2;
    align-items:center;
    flex-direction:column;
    background-color:lightgrey;
    height: 70px;
}
.pink {
  grid-column: 1;
    grid-row: 3;
    align-items:center;
    flex-direction:column;
    background-color:yellow;
    height: 70px;
}

.orange {
    grid-column: span 3;
    grid-row: 1;
    background-color: pink;
    height: 70px;
}

.grey {
    grid-column: 2 / span 2;
    grid-row: 3;
    background-color: lightblue;
    height: 70px;
}

.blue {
    grid-column: 2 / span 2;
    grid-row: 2;
    background-color: lightgreen;
    height: 70px;
}